<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
        .selected{
            color:red;
        }
        .liselected{
            color:red;
            font-size: 16px;
        }

        .lastcss{
            color:green;
            font-size: 18px;
        }
    </style>
    <link href="lib/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="lib/bootstrap/js/html5shiv.js"></script>
    <![endif]-->

</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Angular Demo3</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">


        <div ng-controller="PostCtrl">
            <input ng-model="nametext">
            <div ng-repeat="post in posts | filter:nametext" ng-mouseenter="showdiv()" ng-mouseleave="hidediv()">
                <div>Show Name:{{ post.tag }} <span ng-show="css.show">Mouseover show</span></div>

            </div>
        </div>

        <div ng-controller="PostCtrl2">
            <h3>--------------------华丽的分割线--------------------------------</h3>
            <div id="demo3" ng-repeat="post in posts"  ng-class="{liselected: $index == cssSelected}">
                <li ng-click="changecolor($index)">Show Name:{{ post.name }}</li>

            </div>
        </div>

</div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="lib/angular/angular.js"></script>
<script src="lib/jquery/jquery-1.8.2.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.js"></script>

<script>

/*    jQuery(function($){
        $("#demo3 li").click(function(){
            $("#demo3 li").removeClass("liselected");
            $(this).addClass("liselected");
        });
    });*/


    angular.module('MyApp',[]);

    function PostCtrl($scope) {
        $scope.posts = [{id: 1, name: 'tech'},
            {id: 2, name: 'news'},
            {id: 3, name: 'sports'},
            {id: 4, name: 'health'}];

        $scope.css = {show : false};

        $scope.showdiv = function(){
            this.css = {show:true};
//            this.css.show = true;

            console.log(this.css.show,$scope.css.show);
        }
        $scope.hidediv = function(){
            this.css = {show:false};
//            this.css.show = false;
            console.log(this.css.show,$scope.css.show);
        }
    }

    function PostCtrl2($scope ) {
        $scope.posts = [{id: 1, name: 'tech'},
            {id: 2, name: 'news'},
            {id: 3, name: 'sports'},
            {id: 4, name: 'health'}];

        $scope.changecolor = function(index){
            $scope.cssSelected = index;
        }
    }
</script>

</body>
</html>
