lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results



# Node Files Logs ignore
npm-debug.log





# Mac Files ignore
.DS_Store


# Windows Files ignore
Thumbs.db


# IDE Webstorm Files ignore
*.idea*