
$color_bg_header : #FFF;

$color_button_header : #8A8686;
$color_button_header_hover : #393d40;




.navbar {
    height: 70px;
    background-color : $color_bg_header;
}

.navbar-nav {
    margin-top: 10px;

    li {
        a {
            font-size: 16px;
            color : $color_button_header;

            &:active, &:focus, &:hover {
                color: $color_button_header_hover;
                background-color: $color_bg_header;
            }
        }
    }
}
