

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript" src="/bower_components/jquery-legacy/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/bower_components/html2canvas-0.4.1/build/html2canvas.js"></script>


<script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="/bower_components/ngstorage/ngStorage.min.js"></script>




<!-- <script type="text/javascript">
    document.write('<script src="' + (location.protocol || 'http:') + '//' + (location.hostname || 'localhost') + ':35729/livereload.js?snipver=1" type="text/javascript"><\/script>')
</script> -->


<script type="text/javascript" src="/website/src/js/app.js"></script>

<script type="text/javascript" src="/website/src/js/directive/dragbox.directive.js"></script>

<script type="text/javascript" src="/website/src/js/controller/og.controllers.js"></script>




</body>
</html>
