<nav class="navbar navbar-fixed-top" ng-controller="loginController as login">
    <div class="container-fluid mainbox">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img alt="Brand" src="/website/src/css/images/logo2.png">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li class="active"><a href="/"> 论坛 </a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> 课程 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">

                        <li><a href="/angular" target="_blank">AngularJS 1.X</a></li>
                        <li class="divider"></li>
                        <li><a href="/angular" target="_blank">AngularJS 2.0 </a></li>
                        <li class="divider"></li>
                        <li><a href="/angular" target="_blank">Nodejs</a></li>

                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> 工具 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">

                        <li><a href="/web/tools/oreilly" target="_blank">Oreilly 封面生成器</a></li>
                        <li class="divider"></li>

                    </ul>
                </li>

                <!-- <li ><a href="#"> <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> 论坛 </a></li> -->
            </ul>



            <ul class="nav navbar-nav navbar-right">

                <% if (!user) { %>
                <li><a href="/web/signup">注册</a></li>
                <li><a href="/web/signin">登录</a></li>
                <% } else { %>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">用户信息 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><%= user.username %></a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#" ng-click=login.event.logout()>退出</a></li>
                    </ul>
                </li>
              <% } %>


            </ul>
        </div><!-- /.navbar-collapse -->


    </div><!-- /.container-fluid -->
</nav>
