@import "compass/css3";

body {
    padding-top: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.demo {

    .listselected {
        color: red;
        font-size: 16px;
    }

    .listfirst {
        color: blue;
    }

    .listlast {
        color: green;
    }

}
