

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/bower_components/jquery-legacy/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/bower_components/angular/angular.js"></script>



<script type="text/javascript">
    document.write('<script src="' + (location.protocol || 'http:') + '//' + (location.hostname || 'localhost') + ':35729/livereload.js?snipver=1" type="text/javascript"><\/script>')
</script>


<script src="/angulardemo/js/app.js"></script>
<script src="/angulardemo/js/config.js"></script>
<script src="/angulardemo/js/services.js"></script>
<script src="/angulardemo/js/filters.js"></script>
<script src="/angulardemo/js/directives.js"></script>
<script src="/angulardemo/js/controllers.js"></script>


</body>
</html>