

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/bower_components/jquery-legacy/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/bower_components/angular/angular.js"></script>

<script src="/bower_components/prism/prism-1.3.0/prism.js"></script>



<!-- <script type="text/javascript">
    document.write('<script src="' + (location.protocol || 'http:') + '//' + (location.hostname || 'localhost') + ':35729/livereload.js?snipver=1" type="text/javascript"><\/script>')
</script> -->


<script src="/angulardemo/js/app.js"></script>
<script src="/angulardemo/js/config.js"></script>
<script src="/angulardemo/js/filters.js"></script>
<script src="/angulardemo/js/model/model.js"></script>
<script src="/angulardemo/js/component/demo/demo14.directive.js"></script>
<script src="/angulardemo/js/controller/demo11.controllers.js"></script>
<script src="/angulardemo/js/controller/demo12.controllers.js"></script>
<script src="/angulardemo/js/controller/demo13.controllers.js"></script>
<script src="/angulardemo/js/controller/demo132.controllers.js"></script>
<script src="/angulardemo/js/controller/demo14.controllers.js"></script>


</body>
</html>
