<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/angular">
                <img alt="Brand" src="/angulardemo/css/images/AngularJS-small.png">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li class="active"><a href="/angular"> <span class="glyphicon glyphicon-home" aria-hidden="true"></span> 首页 </a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> 入门例子 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">

                        <li><a href="/angularslide/index.html" target="_blank">入门教程 slide</a></li>
                        <li class="divider"></li>
                        <li><a href="https://github.com/johnpapa/angular-styleguide" target="_blank">代码规范 Angular Style Guide</a></li>
                        <li class="divider"></li>
                        <li><a href="/angulardemo/newdemo1.html" target="_blank">Demo1 数据绑定</a></li>
                        <li><a href="/angulardemo/newdemo2.html" target="_blank">Demo2 显示与隐藏</a></li>
                        <li><a href="/angulardemo/newdemo3.html" target="_blank">Demo3 修改样式</a></li>
                        <li><a href="/angulardemo/newdemo4.html" target="_blank">Demo4 循环与事件</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> 常用指令 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/angular/demo">数据绑定 ngModel</a></li>
                        <li><a href="/angular/demo">显示与隐藏 ngIf ngShow ngHide</a></li>
                        <li><a href="/angular/demo">改变样式 ngClass</a></li>
                        <li><a href="/angular/demo">改变样式 ngStyle</a></li>
                        <li><a href="/angular/demo">引用图片 ngScr</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> 常用事件 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">点击事件 ngClick</a></li>
                        <li><a href="#">鼠标进入事件 ngMouseenter</a></li>
                        <li><a href="#">失去焦点事件 ngBlur</a></li>
                        <li><a href="#">监听修改事件 ngChange</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> 循环指令ngRepeat <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">入门范例ngRepeat</a></li>
                        <li><a href="#">综合应用1</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> 表单验证 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">点击事件 ngClick</a></li>
                        <li><a href="#">鼠标进入事件 ngMouseenter</a></li>
                        <li><a href="#">失去焦点事件 ngBlur</a></li>
                        <li><a href="#">监听修改事件 ngChange</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> 数据交互 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">AJAX $http 服务</a></li>
                        <li><a href="#">Promise 介绍</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> 自定义指令(组件) <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">点击事件 ngClick</a></li>
                        <li><a href="#">鼠标进入事件 ngMouseenter</a></li>
                        <li><a href="#">失去焦点事件 ngBlur</a></li>
                        <li><a href="#">监听修改事件 ngChange</a></li>
                    </ul>
                </li>


                <li ><a href="#"> <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> 论坛 </a></li>

            </ul>





            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">注册</a></li>
                <li><a href="#">登录</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">用户信息 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->


    </div><!-- /.container-fluid -->
</nav>
