<!DOCTYPE html>
<html ng-app>
<head >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Learning AngularJS and Express NodeJS">
    <meta name="author" content="JinWYP">

    <title>AngularJS Demo 1 Data Binding</title>

    <!-- Bootstrap -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">



    <link href="/angulardemo/css/stylesheets/style.css" rel="stylesheet">

    <link href="/bower_components/prism/themes/prism.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>



<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <h1>Angular Demo1 数据绑定</h1>
            <h5>(没有写任何javascript代码)</h5>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <label for="name">Name:</label>
            <input type="text" id="name" ng-model="yourName" placeholder="Enter a name here">
            <h3>Hello {{yourName}} !</h3>
        </div>

        <div class="col-sm-8">
<pre><code class="language-markup" ng-non-bindable>
&lt;label for="name">Name:&lt;/label>
&lt;input type="text" id="name" ng-model="yourName" placeholder="Enter a name here">
&lt;h3>Hello {{ yourName }} ! &lt;/h3>
</code></pre>
        </div>

    </div>



    <div class="row">
        <div class="col-sm-12">
            <hr>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-12">
            <h4>使用jQuery 代码对比</h4>
        </div>

        <div class="col-sm-3">
            <label for="namejquery">Name:</label>
            <input type="text" id="namejquery" placeholder="Enter a name here">
            <h3 id="textjquery">Hello !</h3>
        </div>

        <div class="col-sm-8">
<pre><code class="language-javascript" ng-non-bindable>
$( document ).ready(function() {
    $("#namejquery").on("input propertychange",function(){
        $('#textjquery').html('Hello ' + $(this).val() + ' !');
    })
});
</code></pre>
        </div>
    </div>


</div> <!-- /container -->





<!-- Placed at the end of the document so the pages load faster -->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/bower_components/jquery-legacy/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/bower_components/angular/angular.js"></script>

<script src="/bower_components/prism/prism.js"></script>


<script type="text/javascript">
    $( document ).ready(function() {
        $("#namejquery").on("input propertychange",function(){
            $('#textjquery').html('Hello ' + $(this).val() + ' !');
        })
    });

</script>

</body>
</html>
