
    <button class="btn btn-primary" ng-show="cssshowbox&&cssshowmenu"   ng-click="addMenuButton()">Add Menu</button>
    <form class="form-horizontal" ng-hide="cssshowmenu" >
        <div class="control-group">
            <label class="control-label" for="inputMenu">Menu Name</label>
            <div class="controls">
                <input type="text" id="inputMenu" placeholder="Menu Name" ng-model="newmemu.name">
            </div>
            <button type="submit" class="btn" ng-click="saveNewMenuButton()">Save</button>
        </div>
    </form>
