body {
  padding-top: 70px;
  font: 14px "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  background-color: #F6F8F8;
}

.navbar {
  height: 70px;
  background-color: #FFF;
}

.navbar-nav {
  margin-top: 10px;
}
.navbar-nav li a {
  font-size: 16px;
  color: #8A8686;
}
.navbar-nav li a:active, .navbar-nav li a:focus, .navbar-nav li a:hover {
  color: #393d40;
  background-color: #FFF;
}

.loginbox {
  width: 800px;
}
.loginbox h1 {
  text-align: left;
  margin: 30px 10px;
}

.mainbox {
  width: 1300px;
}
