<% include ./include/head.ejs %>
<% include ./include/header.ejs %>



<div class="container-fluid">

    <h1>首页 杰酷 论坛</h1>



    <div class="box">
        <div class="d1">111</div>
        <div class="d2">222</div>
        <div class="d3">333</div>
        <div class="d4">444</div>
        <div class="d5">555</div>
    </div>


</div>



<% include ./include/bottomscript.ejs %>
