<% include ./include/head.ejs %>
<% include ./include/header.ejs %>



<div class="container-fluid loginbox">

    <h1>登录</h1>

    <form class="form-horizontal" novalidate name="loginForm" ng-controller="loginController as login">

        <div class="form-group has-feedback" ng-class="{'has-success':loginForm.username.$dirty&&loginForm.username.$valid, 'has-error':loginForm.username.$dirty&&loginForm.username.$invalid}">
            <!-- <label for="inputUsername" class="col-xs-4  control-label">用户名</label> -->
            <div class="col-xs-6 ">
                <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Username" ng-model="login.data.newUser.username" required ng-minlength="4" ng-maxlength="30">
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="loginForm.username.$dirty&&loginForm.username.$valid"></span>
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="loginForm.username.$dirty&&loginForm.username.$invalid"></span>
            </div>
        </div>

        <div class="form-group has-feedback" ng-class="{'has-success':loginForm.password.$dirty&&loginForm.password.$valid, 'has-error':loginForm.password.$dirty&&loginForm.password.$invalid}">
            <!-- <label for="inputPassword" class="col-xs-4  control-label">密码</label> -->
            <div class="col-xs-6 ">
                <input type="text" class="form-control" id="inputPassword" name="password" placeholder="Password"  ng-model="login.data.newUser.password" required ng-minlength="6" ng-maxlength="30">
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="loginForm.password.$dirty&&loginForm.password.$valid"></span>
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="loginForm.password.$dirty&&loginForm.password.$invalid"></span>
            </div>
        </div>

        <div class="form-group has-feedback">
            <div class="col-xs-6 ">
                <button type="submit" class="btn btn-default" ng-click="login.event.login(loginForm)">登录</button>
            </div>
        </div>

    </form>




</div>



<% include ./include/bottomscript.ejs %>
