<% include ./include/head.ejs %>
<% include ./include/header.ejs %>



<div class="container-fluid loginbox">

    <h1>登录</h1>

    <form class="form-horizontal" novalidate name="loginForm" ng-controller="loginController as login">

        <div class="form-group has-feedback" ng-class="{'has-success':loginForm.username.$dirty&&loginForm.username.$valid, 'has-error':loginForm.username.$dirty&&loginForm.username.$invalid}">
            <!-- <label for="inputUsername" class="col-xs-4  control-label">用户名</label> -->
            <div class="col-xs-4 col-sm-4">
                <input type="text" class="form-control input-lg" id="inputUsername" name="username" placeholder="用户名/邮箱/手机号" ng-model="login.data.newUser.username" required ng-minlength="4" ng-maxlength="30">
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="loginForm.username.$dirty&&loginForm.username.$valid"></span>
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="loginForm.username.$dirty&&loginForm.username.$invalid"></span>
            </div>
            <div class="col-xs-12 col-sm-4">
                <span class="help-block form-validation" ng-if="loginForm.username.$dirty&&loginForm.username.$error.required">请填入用户名！</span>
                <span class="help-block form-validation" ng-if="loginForm.username.$dirty&&loginForm.username.$error.minlength || loginForm.username.$dirty&&loginForm.username.$error.maxlength">用户名长度4-30！</span>
            </div>
        </div>

        <div class="form-group has-feedback" ng-class="{'has-success':loginForm.password.$dirty&&loginForm.password.$valid, 'has-error':loginForm.password.$dirty&&loginForm.password.$invalid}">
            <!-- <label for="inputPassword" class="col-xs-4  control-label">密码</label> -->
            <div class="col-xs-4 col-sm-4">
                <input type="password" class="form-control input-lg" id="inputPassword" name="password" placeholder="密码"  ng-model="login.data.newUser.password" required ng-minlength="6" ng-maxlength="30">
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="loginForm.password.$dirty&&loginForm.password.$valid"></span>
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="loginForm.password.$dirty&&loginForm.password.$invalid"></span>
            </div>
            <div class="col-xs-12 col-sm-4">
                <span class="help-block form-validation" ng-if="loginForm.password.$dirty&&loginForm.password.$error.required">请填入密码！</span>
                <span class="help-block form-validation" ng-if="loginForm.password.$dirty&&loginForm.password.$error.minlength || loginForm.password.$dirty&&loginForm.password.$error.maxlength">密码长度6-30！</span>
            </div>
        </div>

        <div class="form-group has-feedback">
            <div class="col-xs-2 col-sm-2">
                <button type="submit" class="btn btn-info btn-lg" ng-click="login.event.login(loginForm)">登 录</button>
            </div>
            <div class="col-xs-4 col-sm-4">
                <span class="help-block form-validation" ng-if="login.css.loginFormErrorMessage === 1101">用户名错误！</span>
                <span class="help-block form-validation" ng-if="login.css.loginFormErrorMessage === 1102">密码错误！</span>
            </div>
        </div>

    </form>

    <div class="row">
        <div class="col-xs-2 col-sm-2">
            <a href="#">忘记密码?</a>
        </div>
    </div>




</div>



<% include ./include/bottomscript.ejs %>
